<%= content_for :title, "List your hackathon on the We Love Hackathons website" %>
<%= content_for :description, "This is where you can add your hackathon details to the We Love Hackathons website." %>

	<div class="col-md-7 col-md-offset-2">
		<h1>List your hackathon <span class="pull-right"><%= link_to 'Import bulk hackathons', import_path, class: 'btn btn-default' %></span></h1>

		<%= render 'form' %>

	</div>


