<%= content_for :title, "Stay in the loop with We Love Hackathons" %>
<%= content_for :description, "The best way to stay up to date is to receive weekly emails from the We Love Hackathons team." %>

<div class="col-md-6 col-md-offset-3">
<div class="well">
<h1>Be up to date with the latest hackathons</h1>
<p>Find out when the newest hackathons are listed with our weekly email. Don't miss out!</p>
<hr>
<div id="subscriber-form">
<%= render 'form' %>
</div>
</div></div>