<footer class="footer">
      <div class="container-fluid">
        <p class="text-muted">
        	&copy; <%= Date.today.year %> Powered by <a href="http://coderfactory.com" target="_blank" title="Powered by Coder Factory">Coder Factory</a>
        </p>
        <p class="text-muted pull-right">
        	<a href="/privacy" target="_blank" title="We Love Hackathons' Privacy Policy">We <i class="fa fa-heart"></i> Privacy</a>
      </div>
    </footer>