
<div class="well">
	<h4>Want the latest hackathons in your inbox weekly?</h4>
	<a href="/subscribers/new" class="btn btn-primary btn-xs">
	  Get updates
	</a>
</div>

<div class="well">
	<h4>Looking for co-working or event space in Sydney?</h4>
	<a href="http://auracreative.com.au/" target="_blank" title="Aura Creative Logo"><%= image_tag 'aura2.png', class: 'img-responsive' %></a>
	<a href="http://auracreative.com.au/" class="btn btn-primary btn-xs btn-block" target="_blank">
	  Check out Aura Creative
	</a>
</div>
